<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
</head>
<body>
<h2>Регистрация пользователя</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
<!--        <div>-->
<!--            <div>-->
<!--            <label>Ссылка на ваше фото (из соц сети):</label><br>-->
<!--            <input name="foto" type="url" id="foto" required><br>-->
<!--            <label >Имя:</label><br>-->
<!--            <input name="first_name" type="text" id="first_name" required><br>-->
<!--            <label >Фамилия:</label><br>-->
<!--            <input name="last_name" type="text" id="last_name" required><br>-->
<!--            <label >Дата рождения:</label><br>-->
<!--            <input name="date_of_birth" type="number" id="date_of_birth" required><br>-->
<!--            <label>Ваши навыки:</label><br>-->
<!--            <input name="skill_1" type="text" id="skill_1" required><br>-->
<!--            <input name="skill_2" type="text" id="skill_2" required><br>-->
<!--            <input name="skill_3" type="text" id="skill_3" required><br>-->
<!--            <input name="skill_4" type="text" id="skill_4" required><br>-->
<!--            <input name="skill_5" type="text" id="skill_5" required><br>-->
<!--            </div>-->
<!--            <div>-->
<!--            <span>Расскажите о себе:</span><br>-->
<!--            <textarea name="about" cols="55" rows="18" tabindex="101" id="about_me" required></textarea>-->
<!--            </div>-->
<!--        </div>-->
            <input type="submit" value="Отправить">
    </form>
</body>
</html>